@import 'styles/variables';
@import 'styles/mixins';

.footer{
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Copiright{
    color: $verde-oscuro;
    font-family: $montserrat;
    font-weight: 500;
    font-size: 14px;
}

.logo{
    height: 75px;
}