@use 'styles/variables' as vars;

:host {
    --p-dataview-content-background: transparent !important;
    --p-dataview-header-background: transparent !important;
    --p-dataview-header-border-bottom: none !important;


    
}
:host ::ng-deep .p-dataview .p-dataview-header {
    border: none !important;
    background: transparent !important; 
    padding-bottom: 0; 
}
