@use 'styles/variables' as vars;

:host ::ng-deep .card {
    width: 20rem;
    overflow: hidden;
    font-family: vars.$work-sans;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);     /* Sombra solo arriba e izquierda */
}