@use 'styles/variables' as vars;

:host ::ng-deep .card {
    width: 25rem;
    overflow: hidden;
    font-family: vars.$work-sans;
    /* Sombra solo arriba e izquierda */
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);

}


.ver-mas-container {
  padding-top: 1.5rem;    /* Siempre */
  padding-bottom: 1.5rem; /* Siempre */
  padding-left: 4rem;     /* Por defecto */
  padding-right: 4rem;    /* Por defecto */
}

:host ::ng-deep .boton-ver-mas p-button {

    border-radius: 20px !important;
    border-color: vars.$verde-oliva !important;

}

:host ::ng-deep .boton-ver-mas {
    border-color: vars.$verde-oliva; 
    border-radius: 20px;
    color: vars.$verde-oliva;
}

