@use 'styles/variables' as vars;

:host ::ng-deep .card {
    width: 20rem;
    overflow: hidden;
    font-family: vars.$work-sans;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
                0 4px 6px -4px rgba(0, 0, 0, 0.2);
}

.ver-mas-container {
  padding-top: 1.5rem;    /* Siempre */
  padding-bottom: 1.5rem; /* Siempre */
  padding-left: 2rem;     /* Por defecto */
  padding-right: 2rem;    /* Por defecto */
}

:host ::ng-deep .boton-ver-mas p-button {
    border-radius: 20px !important;
    border-color: vars.$verde-oliva !important;
}

:host ::ng-deep .boton-ver-mas {
    border-color: vars.$verde-oliva; 
    border-radius: 20px;
    color: vars.$verde-oliva;
}

