<form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form" novalidate>
  <!-- TÍTULO -->
  <h1>INICIAR SESIÓN</h1>
  <p class="form-introduccion">¿Aún no eres miembro? <a class="form-link-register" routerLink="/auth/register">Regístrate</a></p>

  <!-- CAMPO MAIL -->
  <div class="form-field">
    <p-iconfield>
      <input pInputText type="email"  placeholder="Email" id="email" formControlName="email" autocomplete="email"
        [ngClass]="{'ng-invalid': f.email.invalid && (f.email.dirty || f.email.touched)}" class="input" />
      <p-inputicon class="pi pi-user" style="color: black" />
    </p-iconfield>

    <small class="error" *ngIf="f.email.hasError('required') && (f.email.dirty || f.email.touched)">
      El email es obligatorio.
    </small>
    <small class="error" *ngIf="f.email.hasError('email') && (f.email.dirty || f.email.touched)">
      Formato de email no válido.
    </small>
  </div>

  <!-- CAMPO CONTRASEÑA -->
  <div class="form-field">
    <p-iconfield>
      <input pInputText type="password"  placeholder="Contraseña" formControlName="password" class="input"
        [ngClass]="{ 'ng-invalid': f.password.invalid && (f.password.dirty || f.password.touched) }" />
      <p-inputicon class="pi pi-lock" style="color: black" />  
    </p-iconfield>

    <small class="error" *ngIf="f.password.hasError('required') && (f.password.dirty || f.password.touched)">
      La password es obligatoria.
    </small>
  </div>

  <!-- OLVIDAR CONTRASEÑA -->
  <div>
    <p><a class="forgot-password-text">¿Has olvidado tu contraseña?</a></p>
  </div>

  <!-- BOTÓN -->
  <button pButton type="submit" class="btn-login" size="large" [disabled]="form.invalid">Iniciar sesión</button>
</form>