@import 'styles/variables';

h1 {
  font-family: $montserrat;
  color: $blanco;
  white-space: nowrap;
  font-weight: 600;
}

.register-form {
  align-items: center;
  align-content: space-between;
}

.form-introduccion {
  font-family: $work-sans;
  font-size: 1.1rem;
  color: $blanco;
  font-weight: 600;

  .form-link-login {
    color: $verde-claro;
    cursor: pointer;
    text-decoration: none;

      &:hover {
        transition: 0.3s ease;
        opacity: 0.4;
      }
    }
}

.form-field {
  font-weight: 600;
}

.input {
    font-family: $work-sans;
    font-weight: 600;
    width: 100%;
    background-color: transparentize($color: lightgray, $amount: 0.8);
    color: $blanco;
    border-color: $blanco;
    border-radius: 1rem; 
    padding: 0.8rem;
    box-shadow: 0.5rem 0.5rem 6px rgba(0, 0, 0, 0.2);

    &::placeholder {
        color: $blanco;
    }

    &:hover {
        border-color: rgb(184, 184, 184);
    }
    
    &:focus {
        border-color: rgb(184, 184, 184) !important;
        outline: none; // Elimina el borde azul por defecto del navegador
        &::placeholder{
            opacity: 0.5;
            transition: ease 0.3s;
        }
    }
}

.p-inputtext.ng-invalid.ng-touched {
    border-color: $msg-error-claro !important;
    &::placeholder{
        color: #b8b8b8!important;
    }
}

.error {
    font-family: $work-sans;
    color: $msg-error-claro;
}

.password-group {
  display: flex;
  align-content: space-between;
}

/* Términos */
.terms {
  font-family: $work-sans;
  gap: 0.35rem;

  ::ng-deep .p-checkbox-box {
    background-color: white !important;     // Fondo blanco
    border: 0px solid black !important;     // Borde negro
  }

  ::ng-deep .p-checkbox-box.p-highlight {
    background-color: white !important;     // Fondo blanco cuando está marcado
    border-color: black !important;
  }

  ::ng-deep .p-checkbox-box .p-checkbox-icon {
    color: black !important;                // Tick negro
  }

  .label {
    color: $blanco;
    margin-left: 0.25rem;
    font-weight: 500;
  }

  .terms-conditions {
    font-family: $work-sans;
    text-decoration: underline;
    color: $verde-oscuro;
    cursor: pointer;

    &:hover{
        font-weight: 500;
    }
  }
}

.btn-register {
    color: $blanco;
    font-family: $work-sans;
    width: 100%;
    border-radius: 1rem;
    border: none;
    background-color: $verde-oscuro;
    cursor: pointer;
    
    &:hover{
        color: $blanco;
        background-color: $verde-oscuro;
        border: none;
        opacity: 0.8;
        transition: ease 0.3s;
        cursor: pointer;
    }
}