
@use 'styles/variables' as vars;

:host {
  font-family: #{vars.$work-sans};
}

h1, h2, h3, h4, h5, h6 {
  font-family: #{vars.$montserrat};
}

button, input, textarea, select {
  font-family: #{vars.$work-sans};
}
