<div class="flex flex-col items-center justify-center text-center
            mx-8 sm:mx-10 md:mx-12 lg:mx-30 xl:mx-45
            max-auto
            my-5 
            px-5 py-6
            bg-white rounded-lg shadow-lg" >

    <i [class]="icon + ' text-6xl '"></i>

    <h2 class="text-xl 
                font-bold 
                text-gray-800">
        {{ title }}
    </h2>

    <p class="text-lg
                text-gray-600 
                xl:max-w-lg">
        {{ message }}
    </p>
</div>

