.snow-canvas {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;
  width: 100vw;   /* tamaño lógico */
   height: 100vh;  /* tamaño lógico */
  /* background: transparent;  // por defecto */
}