//Fuentes
$montserrat: 'Montserrat', sans-serif;
$work-sans: 'Work Sans', sans-serif;

//Colores
$verde-claro: #B1DF75;
$verde-oliva: #3D6C3F;
$verde-oscuro: #152614;
$amarillo: #FFEE59;
$blanco: #F7F7F7;