<div>
    <!-- Filtros deportes -->
    <div class="text-center items-center flex-col  items-center justify-center text-center">
        <h1 class="font-bold italic text-2xl md:text-4xl">TE PUEDEN INTERESAR</h1>
        <div class="mt-8">
            <button class="mt-3 xl:mt-0 " (click)="cargarActividades()">
                <div class="px-4 flex flex-col items-center justify-center text-center cursor-pointer">
                    <div
                        class="w-25 h-25 rounded-full bg-white hover:scale-[0.95]! shadow-md flex items-center justify-center">
                        <i class="ph-light ph-finn-the-human text-7xl"></i>
                    </div>
                    <span class="font-semibold text-xl md:text-xl pl-2 mt-2">Todas</span>
                </div>
            </button>

            <button class="mt-3 xl:mt-0 " (click)="cargarPorDeporte('Futbol')">
                <div class="px-4 flex flex-col items-center justify-center text-center cursor-pointer">
                    <div
                        class="w-25 h-25 rounded-full bg-white hover:scale-[0.95]! shadow-md flex items-center justify-center">
                        <i class="ph-light ph-soccer-ball text-7xl"></i>
                    </div>
                    <span class="font-semibold text-xl md:text-xl pl-2 mt-2">Fútbol</span>
                </div>
            </button>

            <button class="mt-3 xl:mt-0 " (click)="cargarPorDeporte('Senderismo')">
                <div class="px-4 flex flex-col items-center justify-center text-center cursor-pointer">
                    <div
                        class="w-25 h-25 rounded-full bg-white hover:scale-[0.95]! shadow-md flex items-center justify-center">
                        <i class="ph-light ph-person-simple-hike text-7xl"></i>
                    </div>
                    <span class="font-semibold text-xl md:text-xl pl-2 mt-2">Senderismo</span>
                </div>
            </button>

            <button class="mt-3 xl:mt-0 " (click)="cargarPorDeporte('Entrenamiento de fuerza')">
                <div class="px-4 flex flex-col items-center justify-center text-center cursor-pointer">
                    <div
                        class="w-25 h-25 rounded-full bg-white hover:scale-[0.95]! shadow-md flex items-center justify-center">
                        <i class="ph-light ph-barbell text-7xl"></i>
                    </div>
                    <span class="font-semibold text-xl md:text-xl pl-2 mt-2">Fuerza</span>
                </div>
            </button>

            <button class="mt-3 xl:mt-0 " (click)="cargarPorDeporte('Natación')">
                <div class="px-4 flex flex-col items-center justify-center text-center cursor-pointer">
                    <div
                        class="w-25 h-25 rounded-full bg-white hover:scale-[0.95]! shadow-md flex items-center justify-center">
                        <i class="ph-light ph-person-simple-swim text-7xl"></i>
                    </div>
                    <span class="font-semibold text-xl md:text-xl pl-2 mt-2">Natación</span>
                </div>
            </button>

            <button class="mt-3 xl:mt-0 " (click)="cargarPorDeporte('Ciclismo')">
                <div class="px-4 flex flex-col items-center justify-center text-center cursor-pointer">
                    <div
                        class="w-25 h-25 rounded-full bg-white hover:scale-[0.95]! shadow-md flex items-center justify-center">
                        <i class="ph-light ph-bicycle text-7xl"></i>
                    </div>
                    <span class="font-semibold text-xl md:text-xl pl-2 mt-2">Ciclismo</span>
                </div>
            </button>

            <button class="mt-3 xl:mt-0 " (click)="cargarPorDeporte('Boxeo')">
                <div class="px-4 flex flex-col items-center justify-center text-center cursor-pointer">
                    <div
                        class="w-25 h-25 rounded-full bg-white hover:scale-[0.95]! shadow-md flex items-center justify-center">
                        <i class="ph-light ph-boxing-glove text-7xl"></i>
                    </div>
                    <span class="font-semibold text-xl md:text-xl pl-2 mt-2">Boxeo</span>
                </div>
            </button>

            <button class="mt-3 xl:mt-0 " (click)="cargarPorDeporte('Tenis')">
                <div class="px-4 flex flex-col items-center justify-center text-center cursor-pointer">
                    <div
                        class="w-25 h-25 rounded-full bg-white hover:scale-[0.95]! shadow-md flex items-center justify-center">
                        <i class="ph-light ph-racquet text-7xl"></i>
                    </div>
                    <span class="font-semibold text-xl md:text-xl pl-2 mt-2">Tenis</span>
                </div>
            </button>

        </div>
    </div>  

    <!-- Carousel -->
    @if (activities.length === 0){
    <app-empty-activities icon="ph-light ph-ghost" title="La lista está vacía..."
        message="¡Toma la iniciativa y crea tú el plan!">
        <button class="mt-3 xl:mt-0 hover:bg-[#4D834F]!" id="crear_actividad" pButton
            [routerLink]="['/actividades', 'crear-actividad']">
            <div class="px-4 flex items-center">
                <i class="pi pi-plus icon-plus" pButtonIcon></i>
                <span class="font-bold text-xl md:text-2xl pl-2" pButtonLabel>Nueva Actividad</span>
            </div>
        </button>
    </app-empty-activities>
    } @else {
    <div class="xl:p-5 2xl:pl-15 2xl:pr-15 ">
        <div class="">
            
            <p-carousel 
                [value]="activities" 
                [numVisible]="4" 
                [numScroll]="1" 
                [circular]="true"
                [autoplayInterval]="5000000" 
                [responsiveOptions]="responsiveOptions">

                <ng-template let-activity pTemplate="item">
                    <app-activity-card 
                        [titulo]="activity.nombre" 
                        [fecha]="extraerFecha(activity.fecha)"
                        [hora]="extraerHora(activity.fecha)" 
                        [ubicacion]="activity.ubicacion"
                        [imagen]="activity.deporte | deporteImg" 
                        [botonLabel]="'¡Apúntate!'"
                        [botonStyle]="'btn-apuntarse'" 
                        [botonAction]="apuntarse" 
                        [actividadId]="activity.id">
                    </app-activity-card>
                </ng-template>
            </p-carousel>
            
        </div>
        
    </div>
    }
    <div class="flex justify-center md:justify-end ver-mas-container md:px-0">
    <p-button
            [routerLink]="['/actividades']"
            styleClass="boton-ver-mas" 
            label="Todas las actividades" 
            variant="outlined" 
            icon="pi pi-plus icon-plus" 
            severity="contrast" 
            [attr.aria-label]="'Todas las actividades'">
          </p-button> 
    </div>

</div>