<div class="button">
    <p-toast />
    <p-button type="button" pRipple (click)="showSuccess()" label="UP2Play" severity="success" />
</div>

<!--Bucle para recorrer las actividades-->
<div class="grid grid-cols-3 gap-4">
  @for (activity of activities; track activity.id) {
    <app-activity-card
      [titulo]="activity.title"
      [fecha]="activity.date"
      [hora]="activity.time"
      [ubicacion]="activity.location"
      [imagen]="activity.imageUrl">
    </app-activity-card>
  }
</div>

<app-info-actividad></app-info-actividad>