@use 'styles/variables' as vars;
@use 'styles/mixins' as mix;

.navBar {
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    cursor: pointer;
}

.nav-links {
    font-family: vars.$montserrat;
    font-weight: 700;
    list-style: none;

    a {
        text-decoration: none;
        color: vars.$blanco !important;
        
        &:hover {
            transform: scale(1.05) !important;
            color: vars.$blanco !important
        }
    }
}

::ng-deep .p-menu {
    --p-menu-background: #152614f1;           /* Verde oscuro */
    --p-menu-color: #F7F7F7;                /* Blanco */
    --p-menu-border-color: #152614;
    --p-menu-border-radius: 12px;
    --p-menu-list-padding: 0.5rem;
    --p-menu-list-gap: 0.25rem;
    --p-menu-item-border-radius: 8px;
    --p-menu-item-color: #F7F7F7;
    --p-menu-item-focus-background: rgba(177, 223, 117, 0.2); /* Verde claro con opacidad */
    --p-menu-item-focus-color: #B1DF75;
    --p-menu-submenu-label-padding: 0;
    --p-menu-item-icon-color: #B1DF75;          

    /* --- AJUSTES DE ESTRUCTURA --- */
    font-family: vars.$montserrat !important;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.02em;
    text-align: left;
    
    min-width: 0 !important;
    width: fit-content !important;
    max-width: 90vw;

    /* Alineación de los links internos */
    .p-menu-item-link {
        justify-content: flex-start !important;
        text-align: left !important;
        color: var(--p-menu-item-color) !important;
    }

    .p-menu-item-content {
        text-align: left !important;
    }
}