<header>
    <nav class="navBar">
        <div class="logo">
            <img src="assets/logo/fondo-oscuro/verdeClaro-FondoOscuro.png" routerLink="/" alt="logo" class="logo">
        </div>
        <ul class="nav-links">
            <li><a [href]="landingUrl">Inicio</a></li>
            @if (isLogin()) {
            <li><a [routerLink]="IniciarSesionUrl">Iniciar sesión</a></li>
            } @else {
            <li><a [routerLink]="RegistrarseUrl">Registrarse</a></li>
            }
        </ul>
    </nav>
</header>