<header>
    <div class="inline-block w-full">
        <nav class="navBar p-2 md:pl-10">
            <div class="logo aspect-3/1v min-w-36">
                <img src="assets/logo/fondo-oscuro/verdeClaro-FondoOscuro.png" routerLink="/" alt="logo"
                    class="logo h-6 md:h-8 xl:h-10">
            </div>
            <div class="card flex w-full justify-end pr-6 md:hidden">
                <p-menu #menu [model]="items" [popup]="true" appendTo="body" styleClass="mobile-menu"></p-menu>

                <p-button (click)="menu.toggle($event)" icon="pi pi-bars" [rounded]="true" [raised]="true"
                    aria-label="Abrir menú" styleClass="menu-btn !bg-emerald-700/0 !border-emerald-700/0 
                    !shadow-none !text-white !w-11 !h-11 !p-0 !flex !items-center !justify-center">
                </p-button>
            </div>

            <ul class="nav-links hidden md:flex gap-6 md:p-6 md:gap-12">
                <li><a [href]="landingUrl">Inicio</a></li>
                @if (isRegister()) {
                <li><a [routerLink]="IniciarSesionUrl" class="whitespace-nowrap">Iniciar sesión</a></li>
                } @else if (isLogin()||(isVerification())){
                <li><a [routerLink]="RegistrarseUrl">Registrarse</a></li>
                } @else {
                <li><a [routerLink]="IniciarSesionUrl" class="whitespace-nowrap">Iniciar sesión</a></li>
                <li><a [routerLink]="RegistrarseUrl">Registrarse</a></li>
                }
            </ul>
                <button
                    class="rounded px-3 py-5 text-white transition-colors flex items-end gap-2"
                    (click)="toggleSnow()" aria-label="Empezar nieve">
                    <!-- Copo de nieve SVG -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M12 2v20M4.5 7.5l15 9M4.5 16.5l15-9M2 12h20M7.5 4.5l9 15M16.5 4.5l-9 15" />
                    </svg>
                </button>
        </nav>
    </div>
</header>