<div class="py-5 2xl:p-10 m-2 h-full flex items-center justify-center">
  <!-- CARD -->
  <p-card #body class="card sh h-full">
    <!-- Imagen -->
    <ng-template #title>
      <div class="relative w-full">

        <img (click)="redirigirInfoActividad()" class="infoActividad w-full object-cover block"
          aria-label="Ver información de la actividad" src="{{ imagen() }}" />

        <!-- Tag Precio -->
        <div class="absolute bottom-2 right-2 z-10">
          @if (precio() > 0) {
          <p-tag severity="secondary" [value]="(precio() | currency:'EUR') || '0'" rounded="true"></p-tag>
          } @else {
          <p-tag severity="success" value="GRATIS" rounded="ture"></p-tag>
          }
        </div>

        <!-- Tag Completada -->
        <div class="absolute top-2 left-2 z-10">
          @if (isCompletada()) {
          <p-tag severity="info" value="COMPLETADA" rounded="true"></p-tag>
          }
        </div>

      </div>
    </ng-template>

    <!-- Fecha -->
    <ng-template #subtitle>
      <span class="inline-flex items-center gap-1 mt-1">
        <i class="ph-bold ph-calendar-blank align-middle leading-none" aria-hidden="true"></i>
        {{ fecha() }} - {{ hora() }}h
      </span>
    </ng-template>

    <!-- Título de la actividad -->
    <ng-template #content>
      <p class="title infoActividad" aria-label="Detalles de la actividad" (click)="redirigirInfoActividad()">
        {{ titulo() }}
      </p>
      <!-- Ubicación -->
      <span class="inline-flex items-center gap-1">
        <i class="ph-fill ph-map-pin align-middle leading-none" aria-hidden="true"></i>
        {{ ubicacion() }}
      </span>
    </ng-template>

    <!-- Botones de la card -->
    <ng-template #footer>
      <div class="flex items-center justify-end w-full h-full  mb-0">
        @if (isCompletada()) {
          <p-button label="Ver detalles" (onClick)="redirigirInfoActividad()" [styleClass]="'btn-verDetalles'"
          iconPos="right">
        </p-button>
        } @else if (isCreador()) {
        <p-button label="Gestionar" (onClick)="redirigirInfoActividad()" [styleClass]="'btn-gestionar'" 
        icon="pi pi-cog" iconPos="right">
        </p-button>
        } @else {
        <p-button label="Ver detalles" (onClick)="redirigirInfoActividad()" [styleClass]="'btn-verDetalles'"
          iconPos="right">
        </p-button>
        }
      </div>
    </ng-template>
  </p-card>
</div>
