<div class="py-5 2xl:p-10 ml-2 mr-2 h-full flex items-center justify-center">
  <p-card #body class="card sh h-full">
    <ng-template #title>
      <img
        (click)="infoActividad()"
        class="infoActividad"
        aria-label="Ver información de la actividad"
        src="{{ imagen() }}"
      />
    </ng-template>
    <ng-template #subtitle> {{ fecha() }} - {{ hora() }}h </ng-template>
    <ng-template #content>
      <p
        class="title infoActividad"
        aria-label="Detalles de la actividad"
        (click)="infoActividad()"
      >
        {{ titulo() }}
      </p>
      <p class="h-max">{{ ubicacion() }}</p>
    </ng-template>
    <ng-template #footer>
      <div class="flex items-end h-full mt-1 mb-0">
        <p-confirmdialog />
        <p-button
          [label]="botonLabel"
          [styleClass]="botonStyle"
          (onClick)="handleButtonClick('boton')"
          [icon]="botonStyle === 'btn-pagar' ? 'pi pi-credit-card' : ''"
        >
        </p-button>
        @if (eliminarLabel == "Eliminar") {
        <p-button
          class="ml-4"
          [label]="eliminarLabel"
          [styleClass]="eliminarStyle"
          (onClick)="handleButtonClick('eliminar')"
        >
        </p-button>
    } @else if(eliminarLabel == "Eliminar y reembolsar") {
            <p-button
              class="ml-4"
              [label]="eliminarLabel"
              [styleClass]="eliminarStyle"
              (onClick)="handleButtonClick('reembolso-a-todos')"
            >
            </p-button>

        }
      </div>
    </ng-template>
  </p-card>
</div>