@use 'styles/variables' as vars;


.title {
    font-weight: bold;
    font-size: larger;
    white-space: normal; // Permite saltos de línea
    word-wrap: break-word; // Rompe palabras largas
    overflow-wrap: break-word; // Compatibilidad moderna
}

.infoActividad:hover {
    cursor: pointer;
    text-decoration: underline;
}

//BTN EDITAR
:host ::ng-deep .btn-editar {
    background-color: vars.$verde-claro;
    color: vars.$verde-oscuro;
    border: none;
    border-radius: 20px;
}

:host ::ng-deep .btn-editar:hover {
    background-color: #80b43c;
    border: none;
    color: vars.$verde-oscuro;
}

//BTN ELIMINAR
:host ::ng-deep .btn-eliminar {
    background-color: #9d0208;
    color: vars.$blanco;
    border: none;
    border-radius: 20px;
}

:host ::ng-deep .btn-eliminar:hover {
    background-color: #6a040f;
    border: none;
    color: vars.$blanco;
}

//BTN APUNTARSE
:host ::ng-deep .btn-apuntarse {
    background-color: vars.$verde-oliva;
    border: none;
    border-radius: 20px;
}

:host ::ng-deep .btn-apuntarse:hover {
    background-color: #204718;
    border: none;
}

//BTN DESAPUNTARSE
:host ::ng-deep .btn-desapuntarse {
    background-color: #757575;
    border: none;
    border-radius: 20px;
}

:host ::ng-deep .btn-desapuntarse:hover {
    background-color: #5c5c5c;
    border: none;
}