@use 'styles/variables' as vars;
@use 'sass:color';

.title {
    font-weight: bold;
    font-size: larger;
    white-space: normal; // Permite saltos de línea
    word-wrap: break-word; // Rompe palabras largas
    overflow-wrap: break-word; // Compatibilidad moderna
}

.infoActividad:hover {
    cursor: pointer;
    text-decoration: underline;
}

//BTN EDITAR
:host ::ng-deep .btn-editar {
    background-color: vars.$verde-claro;
    color: vars.$verde-oscuro;
    border: none;
    border-radius: 20px;
}

:host ::ng-deep .btn-editar:hover {
    background-color: #80b43c;
    border: none;
    color: vars.$verde-oscuro;
}

//BTN ELIMINAR
:host ::ng-deep .btn-eliminar {
    background-color: #9d0208;
    color: vars.$blanco;
    border: none;
    border-radius: 20px;
}

:host ::ng-deep .btn-eliminar:hover {
    background-color: #6a040f;
    border: none;
    color: vars.$blanco;
}

//BTN APUNTARSE
:host ::ng-deep .btn-apuntarse {
    background-color: vars.$verde-oliva;
    border: none;
    border-radius: 20px;
}

:host ::ng-deep .btn-apuntarse:hover {
    background-color: #204718;
    border: none; 
}

/* BTN PAGAR */
:host ::ng-deep .btn-pagar {
    background-color: vars.$amarillo;
    color: vars.$verde-oscuro;
    border: none;
    border-radius: 20px;    

}
:host ::ng-deep .btn-pagar .p-button-label {
    font-weight: 550 !important; 
}

:host ::ng-deep .btn-pagar:hover {
    background-color: color.adjust(vars.$amarillo, $lightness: -20%);
    color: vars.$verde-oscuro; 
    border: none;
}

//BTN DESAPUNTARSE
:host ::ng-deep .btn-desapuntarse {
    background-color: #757575;
    border: none;
    border-radius: 20px;
}

:host ::ng-deep .btn-desapuntarse:hover {
    background-color: #5c5c5c;
    border: none;
}

/* BTN REEMBOLSO (Usuario se desapunta de actividad de pago) */
:host ::ng-deep .btn-reembolso {
    background-color: #d97706; /* Un naranja ámbar sólido */
    color: vars.$blanco;
    border: none;
    border-radius: 20px;
    transition: background-color 0.2s;
}

/* Mantenemos la negrita para indicar importancia financiera */
:host ::ng-deep .btn-reembolso .p-button-label {
    font-weight: 600 !important;
}

:host ::ng-deep .btn-reembolso:hover {
    background-color: #b45309; /* Tono teja/bronce más oscuro */
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

:host ::ng-deep .p-card-body{
    height: 100% !important;
}

:host ::ng-deep .p-card-footer{
    height: 100% !important;
}