@use 'styles/variables' as vars;



.title {
    font-weight: bold;
    font-size: larger;
    white-space: normal;      // Permite saltos de línea
    word-wrap: break-word;    // Rompe palabras largas
    overflow-wrap: break-word; // Compatibilidad moderna
    
}

.btn-editar {
  background-color: #007ad9;
  color: white;
}

:host ::ng-deep .btn-apuntarse {
    background-color: vars.$verde-oliva; 
    border: none; 
    border-radius: 20px;
}

:host ::ng-deep .btn-apuntarse:hover {
    background-color: #204718; 
    border: none; 

}

:host ::ng-deep .btn-desapuntarse {
    background-color: #757575; 
    border: none; 
    border-radius: 20px;
}

:host ::ng-deep .btn-desapuntarse:hover {
    background-color: vars.$msg-error-oscuro; 
    border: none; 

}