@import 'styles/variables';
@import 'styles/mixins';


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

//Todo el div que implica la vista login
.page { 
  position: relative;
  height: fit-content; //Altura
  min-height: 100dvh;
  width: 100%; //Ancho
  display: flex; //Para que separe, header, form y footer
  flex-direction: column; //Organiza header, login y footer en columna
  justify-content: space-between; //Header arriba, form al centro, footer abajo
  padding-bottom: 2%;
  padding-top: 1.75%;
  overflow: hidden;

  @include fondo-gradiente-verde;

  //Sería como la capa del fondo, aquí está la imagen
  &::before {
    content: '';
    position:absolute;
    inset: 0;
    opacity: 0.2; 
    z-index: 0; //Indica la posición de la 'capa'
  }

  //Indica que todos los hijos de .fondo-register, se encuentren en la 'capa: 1'
  > * {
    position: relative;
    z-index: 1;
  }

  >.div-form {
    display: flex;
    flex-grow: 1; //Ocupa el espacio entre header y footer
    justify-content: center; //Form a la izquierda
    align-items: center; //Respecto al padre
  }
}