@use 'styles/variables' as vars;

h1 {
    font-family: vars.$montserrat;
    color: vars.$verde-oliva;
}

:host ::ng-deep #crear_actividad {
    background-color: vars.$verde-oliva !important;
    color: vars.$blanco !important;
    width: fit-content;
    border: none;
    border-radius: 20px;
}

:host ::ng-deep .btn-editar:hover {
    background-color: #80b43c;
    border: none;
    color: vars.$verde-oscuro;
}

:host ::ng-deep .p-tablist-tab-list {
    background: transparent !important;

    .p-tab-active {

       border-color: vars.$verde-oscuro !important; 
       border-bottom-width: 5px !important;
    }
    --p-tabs-active-bar-background:  vars.$verde-oscuro !important;
}
