@use 'styles/variables' as vars;

:host {
    font-family: #{vars.$work-sans};
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: #{vars.$montserrat};
}

button,
input,
textarea,
select {
    font-family: #{vars.$work-sans};
}

:host ::ng-deep #crear_actividad {
    background-color: vars.$verde-oliva !important;
    color: vars.$blanco !important;
    width: fit-content;
    border: none;
    border-radius: 20px;
}

:host ::ng-deep .btn-editar:hover {
    background-color: #80b43c;
    border: none;
    color: vars.$verde-oscuro;
}

:host ::ng-deep .p-tablist-tab-list {
    background: transparent !important;

    .p-tab-active {

        border-color: vars.$verde-oliva !important;
        border-bottom-width: 3px !important;
        background: linear-gradient(to top, rgba(177, 223, 117, 0.2), rgba(255, 255, 255, 0));
    }

    --p-tabs-active-bar-background: vars.$verde-oscuro !important;
}

