@use 'styles/variables' as vars;

p-menubar {
  background-color: vars.$verde-oliva;
}

.logo {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  cursor: pointer;
}

.menu-items a :hover {
  background-color: transparent !important;
}

.menu-items li {
  padding-right: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
    
  .active {
    color: vars.$verde-oliva;
    background-color: vars.$amarillo;
  }

  :hover {
    color: vars.$verde-oliva;
    background-color: vars.$amarillo;
  }
}


.menu-items h2, li {
  color: vars.$blanco;

}

.drawer-style .p-drawer {
  top: auto !important;
  margin-top: 4rem !important;
}


:host ::ng-deep .boton-hamburguesa .pi-bars {
  font-size: 2rem !important;
}

:host ::ng-deep .contenedor-menubar {
  padding: 1.5rem !important;
}

:host ::ng-deep .p-drawer {
  top: auto !important;
}