@use 'sass:color';
@use 'styles/variables' as vars;

/* Al usar ViewEncapsulation.None, no necesitamos :host ni ::ng-deep */
p-menubar.contenedor-menubar {
  background-color: vars.$verde-oliva;
  border: none;
  border-radius: 0;
  padding: 1.5rem;
}

.logo {
  padding: 0 0.5rem;
  cursor: pointer;
}

/* Estilos específicos dentro del contenedor del menubar */
.contenedor-menubar {

  /* Sobrescribimos el fondo del enlace para que sea transparente */
  .p-menubar-item-link {
    background-color: transparent !important;

    &:hover {
      background-color: transparent !important;
    }
  }

  // Hover menú del avatar
  .menu-items .li {
    color: vars.$blanco;
  }

  .boton-hamburguesa .pi-bars {
    font-size: 2rem !important;
    color: white !important;
  }
}


/* Drawer específico del header */
.drawer-header {
  /* Forzamos la posición top para evitar conflictos */
  top: auto !important;
  margin-top: 4rem !important;
  --p-drawer-background: #3D6C3F;
  color: white !important;
  letter-spacing: .03em;
  padding-right: 2rem;

  li {
    margin: 0.5rem;

    .active {
      color: vars.$verde-oliva !important;
      background-color: vars.$amarillo !important;
    }

    &:hover {
      color: vars.$verde-oliva !important;
      background-color: vars.$amarillo !important;
      border-radius: 6px;
    }
  }
}

/* Menú del Avatar (styleClass="mobile-menu") */
.mobile-menu.p-menu {
  background-color: color.change(vars.$verde-oscuro, $alpha: 0.90);
  color: vars.$verde-oscuro;
  border: 1px solid color.change(vars.$verde-oscuro, $alpha: 0.25);
  border-radius: 12px;
  font-family: vars.$montserrat;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: .03em;
  text-align: right;

  min-width: 0 !important;
  width: fit-content;
  max-width: 90vw;

  .p-menu-list {
    padding: .5rem;
    gap: .25rem;
  }

  .p-menu-item-content {
    border-radius: 8px;
    text-align: right;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .p-menu-item-link {
    color: vars.$blanco;
    justify-content: flex-end;
  }
}

/* Estilos adicionales */
.layout-menu {
  background-color: vars.$verde-oscuro !important;

  li:hover,
  a:hover {
    color: vars.$verde-oliva !important;
  }
}