@use 'sass:color';
@use 'styles/variables' as vars;

p-menubar.contenedor-menubar {
  background-color: vars.$verde-oliva !important;
  border-radius: 0;
  padding: 1rem;
}

.logo {
  padding: 0 0.5rem;
  cursor: pointer;
}

/* Estilos específicos dentro del contenedor del menubar */
.contenedor-menubar {

  /* Sobrescribimos el fondo del enlace para que sea transparente */
  .p-menubar-item-link {
    background-color: transparent !important;

    &:hover {
      background-color: transparent !important;
    }
  }

  // Hover menú del avatar
  .menu-items .li {
    color: vars.$blanco;
  }

  .boton-hamburguesa .pi-bars {
    font-size: 2rem !important;
    color: white !important;
  }
}


/* Drawer específico del header */
.drawer-header {
  /* Forzamos la posición top para evitar conflictos */
  top: auto !important;
  --p-drawer-background: #3D6C3F;
  color: white !important;
  letter-spacing: .03em;
  padding-right: 2rem;
  border: none !important;
  box-shadow: inset 0px 15px 15px -10px rgba(0, 0, 0, 0.4) !important;

  li {
    margin: 0.5rem;
    border-radius: 6px; 
    transition: background-color 0.2s ease; 
    border-radius: 50px !important; 

    a, button {
        border-radius: 50px !important; 
    }

    a, button:hover {
        border-radius: 50px !important; 
    }

    .active {
      background-color: rgba(255, 255, 255, 0.3) !important;
      font-weight: bold;
      i {
          color: vars.$amarillo !important;
        }
    }
    

    &:hover {      
      color: white !important;
      border-radius: 50px !important; 

      background-color: rgba(255, 255, 255, 0.2) !important;
      

  }
}

/* Menú del Avatar (styleClass="mobile-menu") */
.mobile-menu.p-menu {
  background-color: color.change(vars.$verde-oscuro, $alpha: 0.90);
  color: vars.$verde-oscuro;
  border: 1px solid color.change(vars.$verde-oscuro, $alpha: 0.25);
  border-radius: 12px;
  font-family: vars.$montserrat;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: .03em;
  text-align: right;

  min-width: 0 !important;
  width: fit-content;
  max-width: 90vw;

  .p-menu-list {
    padding: .5rem;
    gap: .25rem;
  }

  .p-menu-item-content {
    border-radius: 8px;
    text-align: right;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .p-menu-item-link {
    color: vars.$blanco;
    justify-content: flex-end;
  }
}

/* Estilos adicionales */
.layout-menu {
  background-color: vars.$verde-oscuro !important;

  li:hover,
  a:hover {
    color: vars.$verde-oliva !important;
  }
}
}

/* En header.scss */
.logout-item {
  font-weight: bold;

  i {
    color: vars.$msg-error-claro !important;
  }

  &:hover {
    background-color: rgba(139, 0, 0, 0.1) !important;
  }
}
