<app-header></app-header>
<p-toast position="top-right"></p-toast>
<div
    class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 p-4 sm:p-6 md:p-8 lg:p-10 mx-2 sm:mx-4 md:mx-6 lg:mx-auto xl:mx-auto lg:max-w-6xl my-4 sm:my-6 md:my-10 bg-white rounded-lg shadow">

    @let act = actividad();
    @if (act) {
    <!-- Columna izquierda -->
    <div class="lg:pr-10">
        <h1 class="text-3xl font-bold mb-2">{{ act.nombre }}</h1>
        <p class="mb-4 text-sm">Creado por el usuario {{act.usuarioCreadorNombre}}</p><br>
        <p><p-inputicon class="pi pi-trophy" style="color: #3D6C3F" />
            <span class="font-bold"> Deporte: </span>{{ act.deporte }}
        </p><br>

        <p class="mb-6 text-justify">{{ act.descripcion }}</p>

        <div class="space-y-2 mb-6">
            <div class="flex items-center space-x-1">
                <p><p-inputicon class="pi pi-chart-line" style="color: #3D6C3F" />
                    <strong class="mr-1"> Nivel: </strong>

                <form [formGroup]="formRating" class="ml-2">
                    <p-rating formControlName="rating" [readonly]="true">
                        <ng-template #onicon>
                            <p-inputicon class="pi pi-flag-fill" />
                        </ng-template>
                        <ng-template #officon>
                            <p-inputicon class="pi pi-flag" />
                        </ng-template>
                    </p-rating>
                </form>
            </div>

            <p><p-inputicon class="pi pi-map-marker" style="color: #3D6C3F" />
                <strong> Punto de encuentro:</strong> {{ act.ubicacion }}
            </p>
            <p><p-inputicon class="pi pi-euro" style="color: #3D6C3F" />
                <strong> Precio:</strong> {{ act.precio == '0' ? 'Gratuita' : act.precio + '€' }}
            </p>
        </div>
        <div>
            @if (isCreador()) {
            <button (click)="goEditar()" class="cursor-pointer bg-lime-700 hover:bg-lime-600 text-white font-bold py-2 px-4 rounded-3xl">
                <p-inputicon class="pi pi-pen-to-square"/>
                Editar
            </button>
            } @else if (!apuntado()) {
            <button (click)="unirse()" class="cursor-pointer bg-lime-800 hover:bg-lime-700 text-white font-bold py-2 px-4 rounded-3xl">
                ¡Apúntate!
            </button>
            } @else {
            <button (click)="desapuntarse()"
                class="cursor-pointer bg-neutral-600 hover:bg-neutral-500 text-white font-bold py-2 px-4 rounded-3xl">
                Desapúntate...
            </button>
            }
        </div>
    </div>

    <!-- Columna derecha -->
    <div class="mt-8 lg:mt-0">
        <img class="rounded-md mb-6 w-full aspect-video sm:aspect-3/2 object-cover lg:max-w-full"
            [src]="act.deporte | deporteImg" alt="actividad-img">
        <!-- <img [src]="act.deporte | deporteImg" alt="{{ act.deporte }}" class="rounded-md mb-6 w-full aspect-video sm:aspect-3/2 object-cover lg:max-w-full"> -->

        <p-card class="w-full">
            <p><strong>Fecha</strong><br>{{ extraerFecha(act.fecha) }}</p>
            <p-divider></p-divider>
            <p><strong>Hora</strong><br>{{ extraerHora(act.fecha) }}</p>
        </p-card>

        <div class="mt-4">
            <p class="font-semibold">Personas inscritas {{ act.numPersInscritas }} / {{ act.numPersTotales }}</p>
            <div class="flex mt-2 space-x-2">
            </div>
        </div>
    </div>

   <div class="my-8 min-w-xs lg:col-span-full">
    <div id="map" style="height: 400px; width: 100%;" class="rounded-md"></div>
</div> 

    }
</div>