@import 'styles/variables';
@import 'styles/mixins';


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.fondo-register {
  position: relative;
  height: 98vh; // Asegura que ocupe toda la altura de la pantalla
  width: 100%; // (opcional) para asegurar ancho completo

  @include fondo-gradiente-verde;

  &::before {
    content: '';
    position:absolute;
    inset: 0;
    background: url('../../../../../assets/auth/fondo-register_login.webp') center/cover no-repeat;
    opacity: 0.2; 
    z-index: 0; // detrás del contenido
  }

  >.imagen-superpuesta {
    position: relative;
    z-index: 1; // encima de la imagen
    height: 100%;
  }
}