
<div class="card">
    <p-stepper [value]="1">
        <p-step-item class="text-base md:text-lg lg:text-xl text-wrap" [value]="1">
            <p-step>¿POR DÓNDE EMPEZAR?</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-fit">
                        <div
                            class="p-4 md:py-4 border-2  rounded bg-surface-50 
                             flex-auto flex flex-col md:flex-row justify-left items-left md:items-center font-medium max-w-4xl">
                            <i class="mx-auto lg:mx-4 md:mx-8 xl:mx-7  ph ph-sneaker-move  text-5xl lg:text-6xl text-[#3D6C3F]"></i>
                            <p class="text-[0.85rem] lg:text-[1rem]  text-center md:text-left leading-5">
                                <strong>Descubre tu punto de partida</strong><br>
                                Explora actividades deportivas cerca de ti y conoce personas con tus mismos intereses.
                                <strong><br>¡Empieza a moverte y a conectar!</strong>
                            </p>
                        </div>
                    </div>
                    <div class="py-2 lg:py-4 xl:py-6">
                        <p-button label="Siguiente" (onClick)="activateCallback(2)" />
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>

        <p-step-item class="text-base md:text-lg lg:text-xl text-wrap" [value]="2">
            <p-step>ORGANIZA PLANES</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-fit">
                        <div
                            class="p-4 md:py-4 border-2  rounded bg-surface-50 
                             flex-auto flex flex-col md:flex-row justify-left items-left md:items-center font-medium max-w-4xl">
                            <i class="mx-auto lg:mx-4 md:mx-8 xl:mx-7  ph ph-baseball-cap text-5xl lg:text-6xl text-[#3D6C3F]"></i>
                            <p class="text-[0.85rem] lg:text-[1rem] text-center md:text-left leading-5">
                                <strong>Crea tus propios eventos deportivos</strong><br>
                                Elige la actividad, el lugar y la hora, y reúne a otros <strong>apasionados del
                                    deporte</strong>
                                para compartir <strong>experiencias.</strong>
                            </p>
                        </div>
                    </div>
                    <div class="py-2 lg:py-4 xl:py-6">
                        <p-button class="mr-4" label="Siguiente" (onClick)="activateCallback(3)" />
                        <p-button label="Anterior" severity="secondary" (onClick)="activateCallback(1)" />
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>

        <p-step-item class="text-base md:text-lg lg:text-xl text-wrap" [value]="3">
            <p-step>APÚNTATE A PLANES</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-fit">
                        <div
                           class="p-4 md:py-4 border-2  rounded bg-surface-50 
                             flex-auto flex flex-col md:flex-row justify-left items-left md:items-center font-medium max-w-4xl">
                            <i class="mx-auto lg:mx-4 md:mx-8 xl:mx-7  ph ph-target text-5xl lg:text-6xl text-[#3D6C3F]"></i>
                            <p class="text-[0.85rem] lg:text-[1rem] text-center md:text-left leading-5">
                                <strong>Únete a actividades organizadas por otros</strong><br>
                                Encuentra el <strong>deporte</strong> que te gusta, haz <strong>nuevos amigos</strong>
                                y <strong>disfruta</strong> de cada momento.
                            </p>
                        </div>
                    </div>
                    <div class="py-2 lg:py-4 xl:py-6">
                        <p-button label="Anterior" severity="secondary" (onClick)="activateCallback(2)" />
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>
    </p-stepper>
</div>