<div class="py-4 px-6 md:my-2 md:py-6 md:px-8 lg:my-4 lg:py-8 lg:px-10 bg-white rounded-lg shadow">
    <h2 class="text-2xl font-bold text-left mb-6">Mi información</h2>

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Columna IZQ -->
        <div class="flex flex-col gap-4">
            <div>
                <label for="nombre" class="block mb-1 font-semibold">Nombre</label>
                <input id="nombre" type="text" pInputText formControlName="nombre" class="w-full" />

                @if (formulario.get('nombre')?.hasError('required')) {
                <p-message severity="error" size="small" variant="simple" text="El nombre es obligatorio"></p-message>
                }
                @else if (formulario.get('nombre')?.hasError('profanity')) {
                <p-message severity="error" size="small" variant="simple">El nombre contiene lenguaje inapropiado o
                    soez.</p-message>
                }
            </div>

            <div class="card flex flex-col justify-center">
                <label for="idiomas" class="block mb-1 font-semibold">Idiomas</label>
                <p-multiselect formControlName="idiomas" [options]="groupedLanguages" placeholder="¿Qué idiomas hablas?"
                    [maxSelectedLabels]="3" [group]="true" class="w-full">
                    <ng-template let-group #group>
                        <div class="flex items-center">
                            <img [src]="'https://flagcdn.com/' + group.value.toLowerCase() + '.svg'" class="mr-2"
                                style="width: 20px" alt="icon-flag" />

                            <span>{{ group.label }}</span>
                        </div>
                    </ng-template>
                </p-multiselect>
            </div>

            <div>
                <label for="sexo" class="block mb-1 font-semibold">Sexo</label>
                <p-select [options]="sexos" optionLabel="label" optionValue="value" id="sexo" formControlName="sexo"
                    class="w-full" />
            </div>

            <div>
                <label for="email" class="block mb-1 font-semibold">Correo electrónico</label>
                <input id="email" type="email" pInputText formControlName="email" class="w-full" />
            </div>
        </div>

        <!-- Columna DER -->
        <div class="flex flex-col gap-4">
            <div>
                <label for="apellidos" class="block mb-1 font-semibold">Apellidos</label>
                <input id="apellidos" type="text" pInputText formControlName="apellidos" class="w-full" />

                @if (formulario.get('apellidos')?.hasError('required')) {
                <p-message severity="error" size="small" variant="simple"
                    text="Los apellidos son obligatorios"></p-message>
                }
                @else if (formulario.get('apellidos')?.hasError('profanity')) {
                <p-message severity="error" size="small" variant="simple">Los apellidos contiene lenguaje inapropiado o
                    soez.</p-message>
                }
            </div>

            <div>
                <label for="fechaNacimiento" class="block mb-1 font-semibold">Fecha de nacimiento</label>
                <p-datepicker dateFormat="dd/mm/yy" id="fechaNacimiento" formControlName="fechaNacimiento"
                    dateFormat="yy-mm-dd" class="w-full" />
            </div>

            <div>
                <label for="telefono" class="block mb-1 font-semibold">Teléfono</label>
                <input id="telefono" type="tel" pInputText formControlName="telefono" class="w-full"
                    placeholder="+34 600 123 456" />

                @if (formulario.get('telefono')?.invalid && formulario.get('telefono')?.touched) {
                <p-message severity="error" text="Formato de teléfono inválido"></p-message>
                }
            </div>

            <div>
                <label for="password" class="block mb-1 font-semibold">Contraseña</label>
                <p-iconfield>
                    <input id="password" type="password" pInputText formControlName="password"
                        class="w-full cursor-pointer" (click)="passwordDialogVisible.set(true)" readonly />
                    <p-inputicon class="pi pi-pencil" role="button" tabindex="0"
                        (click)="passwordDialogVisible.set(true)" (keydown.enter)="showDialog()" />
                </p-iconfield>
            </div>
        </div>

        <!-- Botón -->
        <div class="col-span-1 md:col-span-2 text-center md:mt-2 mb-2">
            <button pButton type="submit" label="Guardar cambios" class="btn-guardarCambios"></button>
        </div>
    </form>

</div>

<div class="card flex justify-center">
    <p-dialog header="Cambiar contraseña" [visible]="passwordDialogVisible()"
        (visibleChange)="passwordDialogVisible.set($event)" [modal]="true" [appendTo]="'body'" [blockScroll]="true"
        [autoZIndex]="true" [baseZIndex]="1000" [style]="{ width: '24rem' }">

        <!-- Form reactivo del diálogo -->
        <form [formGroup]="pwdForm" (ngSubmit)="$event.preventDefault()">
            <div class="flex flex-col">
                <label for="contraseñaActual" class="font-semibold">Contraseña actual</label>
                <input pInputText type="password" id="contraseñaActual" class="flex-auto" autocomplete="off"
                    formControlName="oldPassword" />

                @if (pwdForm.get('oldPassword')?.invalid && pwdForm.get('oldPassword')?.touched) {
                <small class="text-red-500">
                    La contraseña actual es obligatoria
                </small>
                }
            </div>

            <span class="p-text-secondary block mt-5 mb-2">Recuerda que tu contraseña debe ser segura.</span>

            <div class="flex flex-col mb-2">
                <label for="nuevaContraseña" class="font-semibold">Nueva contraseña</label>
                <input pInputText type="password" id="nuevaContraseña" class="flex-auto" autocomplete="off"
                    formControlName="newPassword" />

                @if (pwdForm.get('newPassword')?.invalid && pwdForm.get('newPassword')?.touched) {
                <small class="text-red-500">
                    Mínimo 8 caracteres
                </small>
                }
            </div>

            <div class="flex flex-col mb-4">
                <label for="repetirContraseña" class="font-semibold">Repetir contraseña</label>
                <input pInputText type="password" id="repetirContraseña" class="flex-auto" autocomplete="off"
                    formControlName="repeatPassword" />

                @if (pwdForm.hasError('passwordsNoCoinciden') && pwdForm.get('repeatPassword')?.touched) {
                <small class="text-red-500">
                    Las contraseñas no coinciden
                </small>
                }
            </div>

            <div class="flex justify-end gap-3">
                <p-button label="Cancelar" severity="secondary" [raised]="true"
                    (click)="passwordDialogVisible.set(false)" [disabled]="loading" />
                <p-button label="Actualizar contraseña" severity="contrast" [raised]="true" (click)="onSubmitPassword()"
                    [disabled]="loading" />
            </div>
        </form>
    </p-dialog>
</div>