h1,h2,h3,h4 {

    font-family: 'Montserrat', sans-serif;
}

p {

    font-family: 'Work Sans', sans-serif;
}

button {
    background-color: #B1DF75;
    border-radius: 20px;
    padding: 0.5em;
    color:  #152614;
}

header {
    background-image: url('../images/header/deporte.png');
    background-position: center center;
    border: 1px solid green;
    background-size: cover;
}

.desplegable {
    background-color: #B1DF75;
    width: 100%;
    position: absolute;
    top: 100%;
    
    display: flex;
    flex-direction: column;
    color: #152614;
    text-align: center;
}

.desplegable a {
    padding: 0.5em;
    border-bottom: 1px solid #152614;
}

div {

    border: 1px solid red;
}

section {
    border: 2px solid blue;
}

nav {
    border: 2px solid yellow;
} 

body {
    border: 2px solid rgb(0, 0, 0);

}
