h1,h2,h3,h4 {

    font-family: 'Montserrat', sans-serif;
}

p {

    font-family: 'Work Sans', sans-serif;
}

button {
    background-color: #B1DF75;
    border-radius: 20px;
    padding: 0.5em;
    color:  #152614;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

header {
    background-image: url('../images/header/deporte.png');
    background-position: center center;
    border: 1px solid green;
    background-size: cover;
}

.desplegable {
    background-color: #B1DF75;
    width: 100%;
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    color: #152614;
    text-align: center;
}

.desplegable a {
    padding: 0.5em;
    border-bottom: 1px solid #152614;
}

#section-UP2Play {
    background-color: #F7F7F7;
}

#section-carousel {
    background-color: #152614;
}

#mision-content {
    background-color: #B1DF75;
}

#vision-content {
    background-color: #3D6C3F;
    h3, p {
        color: #F7F7F7;
    }
}

#valores-content {
    background-color: #152614;
    h1, li, ul {
        color: #F7F7F7;
    }
}

#section-sobre_nosotros {
    background-image: url('../images/sobreNosotros/Fondo_Sobre_Nosotros.png');
    background-position: center center;
    background-size: cover;
}

#Daniel_Villalba, #Alexandre_Vilchez, #Africa_Rodriguez {
    background-color: #3D6C3F;
    border-radius: 10px;
}

#Marc_Balague, #Joan_Juncosa {
    background-color: #F7F7F7;
    border-radius: 10px;
}

/* div {

    border: 1px solid red;
}

section {
    border: 2px solid blue;
}

nav {
    border: 2px solid yellow;
} 

body {
    border: 2px solid rgb(0, 0, 0);

}  */
