@use 'styles/variables' as vars;

:host ::ng-deep .card {
    max-width: 22rem;
    overflow: hidden;
    font-family: vars.$work-sans;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
                0 4px 6px -4px rgba(0, 0, 0, 0.2);
}

:host ::ng-deep .p-carousel-indicator-active button {
    background-color: #3D6C3F !important;
    opacity: 1; /* Asegura que se vea sólido */
}