@use 'styles/variables' as vars;

:host ::ng-deep .card {
    width: auto;
    overflow: hidden;
    font-family: vars.$work-sans;
    /* Sombra solo arriba e izquierda */
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);

}
