<p-toast position="top-right"></p-toast>
<div class="xl:p-5 2xl:pl-15 2xl:pr-15 ">
    <div class="">
        <p-carousel [value]="activities" [numVisible]="4" [numScroll]="1" [circular]="true"
            [responsiveOptions]="responsiveOptions" autoplayInterval="5000">

            <ng-template let-activity pTemplate="item">
                <app-activity-card
                    [titulo]="activity.nombre" 
                    [fecha]="extraerFecha(activity.fecha)"
                    [hora]="extraerHora(activity.fecha)"
                    [ubicacion]="activity.ubicacion"
                    [imagen]="'https://media.gq.com.mx/photos/660304abed6388a71e23c80d/16:9/w_2560%2Cc_limit/GettyImages-629586734.jpg'"

                    @if 

                    [botonLabel]="'Desapúntate...'" [botonStyle]="'btn-desapuntarse'" [botonAction]="desapuntarse"
                    [actividadId]="activity.id">
                </app-activity-card>
            </ng-template>
        </p-carousel>
    </div>
</div>