<p-toast position="top-right"></p-toast>
<div class="xl:p-5 2xl:pl-15 2xl:pr-15 ">
    <div class="">
        <p-carousel [value]="activities" [numVisible]="4" [numScroll]="1" [circular]="true"
             autoplayInterval="5000">

            <ng-template let-activity pTemplate="item">
                <app-activity-card
                    [titulo]="activity.nombre" 
                    [fecha]="extraerFecha(activity.fecha)"
                    [hora]="extraerHora(activity.fecha)"
                    [ubicacion]="activity.ubicacion"
                    [imagen]="activity.deporte | deporteImg"
                    [botonLabel]="activity.esCreador ? 'Editar' : 'Desapúntate...'"
                    [botonStyle]="activity.esCreador ? 'btn-editar' : 'btn-desapuntarse'"
                    [botonAction]="activity.esCreador ? editar : desapuntarse"

                    [actividadId]="activity.id">
                </app-activity-card>
            </ng-template>
        </p-carousel>
    </div>
</div>