@use 'styles/variables' as vars;

:host {
    --p-dataview-content-background: transparent !important;
    --p-dataview-header-background: transparent !important;
    --p-dataview-header-border-bottom: none !important;
}

:host ::ng-deep .p-dataview .p-dataview-header {
    border: none !important;
    background: transparent !important;
    padding-bottom: 0;
}

:host ::ng-deep .p-togglebutton {

    --p-togglebutton-content-checked-background: #b1df7538 !important;
}


:host ::ng-deep .p-button {
    --p-button-outlined-danger-hover-background: #8b000011 !important;
    --p-button-outlined-danger-border-color: #8B0000 !important;
    --p-button-outlined-danger-color: #8B0000 !important;
}

:host ::ng-deep .p-button {
    --p-button-outlined-secondary-hover-background: rgba(128, 128, 128, 0.103) !important;
    --p-button-outlined-secondary-border-color: gray !important;
}

.ver-mas-container {
  padding-top: 1.5rem;   
  padding-bottom: 1.5rem; 
  padding-left: 2rem;    
  padding-right: 2rem;    
}

:host ::ng-deep .boton-ver-mas .p-button {
    border-radius: 20px !important;
    border-color: vars.$verde-oliva !important;
}

:host ::ng-deep .boton-ver-mas {
    border-color: vars.$verde-oliva; 
    border-radius: 20px;
    color: vars.$verde-oliva;
}
