@use 'styles/variables' as vars;

.spacer {
    width: 50%;
    margin: auto;
    position: flex;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: auto;
}

h1 {
    font-family: vars.$montserrat;
}

.text-card {
    font-family: vars.$work-sans;
}

.p-creados {
    background-image: url('../../../assets/home/tarjeta-creados.png');
    background-size: 105%; 
    background-repeat: no-repeat;
}

.p-unidos {
    background-image: url('../../../assets/home/tarjeta-unidos.png');
    background-size: 105%; 
    background-repeat: no-repeat;
}