@use 'styles/variables' as vars;

.tu_espacio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    position: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    height: auto;
    margin-right: 5rem;
    margin-left: 5rem;
}

h1 {
    font-family: vars.$montserrat;
}

.text-card {
    font-family: vars.$work-sans;
}

.p-creados {
    background-image: url('../../../assets/home/tarjeta-creados.png');
    background-size: 105%; 
    background-repeat: no-repeat;
}

.p-unidos {
    background-image: url('../../../assets/home/tarjeta-unidos.png');
    background-size: 105%; 
    background-repeat: no-repeat;
    margin-right: 5rem;
    margin-left: 5rem;
}

.calendario {
    width: 75%;
    position: flex;
    margin-bottom: 2%;
    height: auto;
}