.tu_espacio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    position: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    height: auto;
    margin-right: 5rem;
    margin-left: 5rem;
}

.calendario {
    width: 75%;
    position: flex;
    margin-bottom: 2%;
    height: auto;
}