<form [formGroup]="form" (ngSubmit)="onSubmit()"
  class="verification-form max-w-xl mr-6 ml-6 p-4 md:p-8 xl:p-12 xl:mt-6 xl:mb-6" novalidate>
  <div class="Imgicono pb-6 h-28 md:h-32 xl:h-38">
    <img src="../../../../../assets/auth/verificationIcon.svg" alt="icon">
  </div>
  <!-- TÍTULO -->
  <h1 class="text-3xl pb-2 md:text-4xl xl:text-5xl">Verifica tu correo</h1>
  <p class="form-introduccion text-sm pb-6 xl:text-base">El código de verificación de la cuenta ha sido enviado a la
    dirección de correo electrónico que proporcionaste.</p>

  <!-- CAMPO CONTRASEÑA -->
  <div class="form-field pb-4">
    <p-iconfield>
      <input type="text" pInputText placeholder="Código de verificación" formControlName="verificationCode"
        class="input h-13 md:h-15" (input)="onTyping()"
        [ngClass]="{ 'ng-invalid': f.verificationCode.invalid && (f.verificationCode.dirty || f.verificationCode.touched) }" />
      <p-inputicon class="pi pi-verified" style="color: black" />
    </p-iconfield>

    @if (f.verificationCode.hasError('required') && (f.verificationCode.dirty || f.verificationCode.touched)) {
    <p-message size="small" severity="error" variant="outlined" class="error">
      El código de verificación es obligatorio.
    </p-message>
    }

    @if (errorMessage && (f.verificationCode.value.trim().length > 0) &&
    !f.verificationCode.hasError('required')) {
    <p-message size="small" severity="error" variant="outlined" class="error">
      El código de verificación no es correcto o ha expirado.
    </p-message>
    }
  </div>

  <!-- BOTÓN -->
  <button pButton type="submit" class="btn-verify h-13 md:h-15" size="large"
    [disabled]="form.invalid" [loading]="loading()">Verificar</button>

  <!-- Enviar de nuevo -->
  <div>
    <p class="correo-no-recibido pt-4">¿No has recibido el correo?
      <a class="correo-no-recibido underline cursor-pointer hover:font-medium" (click)="onClickResend()"><br>Enviar de
        nuevo</a>
    </p>
    @if (resendMessageVisible) {
    <div class="mensaje-reenvio pt-4 font-bold text-lime-400 flex justify-center">
      Se ha reenviado el código de verificación a tu correo.
    </div>
    }
  </div>
</form>