/* 
The styles added here would be global styles to the project.
Here has to be imported the other style files (from the src/styles/)
*/

@use "./tailwind.css";
@use "primeicons/primeicons.css";

@use 'styles/variables' as vars;
@use 'styles/mixins' as mix;

@use 'sass:color';



/* IMAGEN GRIS DE FONDO DE LA APP */
.header-background-active {
  background-image: url('/assets/background/fondo_ok.webp');
  /* Reemplaza con la URL correcta */
  background-size: cover;
  /* Cubre todo el viewport */
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Opcional: para que el fondo no se mueva al hacer scroll */
}

//Hace que el contenido de la app aparezca luego del header
.header-offset-active {
  padding-top: var(--header-h);
  /* Usamos el valor calculado en el header.component.ts */
}


.cd-eliminar {

  .p-dialog {

    padding: 2em !important;

  }

  .p-confirmdialog-reject-button {

    color: vars.$verde-oscuro;
    background-color: vars.$blanco;
    border: none;

    &:hover {
      background-color: vars.$blanco !important;
      border: none !important;
      color: vars.$verde-oscuro !important;
      border-color: none !important;
      transform: scale(1.05) !important;

    }

  }

  .p-confirmdialog-accept-button {

    background-color: vars.$msg-error-oscuro;
    border: none;

    &:hover {
      background-color: vars.$msg-error-oscuro !important;
      border: none !important;
      border-color: none !important;
      transform: scale(1.05) !important;

    }
  }

}