<form [formGroup]="form" (ngSubmit)="onSubmit()"
    class="new-password-form max-w-xl mr-6 ml-6 p-4 md:p-8 xl:p-12 xl:mt-6 xl:mb-6" novalidate>

    <div class="Imgicono pb-6 h-28 md:h-32 xl:h-38">
        <img src="../../../../../assets/auth/new-password.svg" alt="icono">
    </div>

    <!-- TÍTULO -->
    <h1 class="text-3xl pb-8 md:text-4xl xl:text-5xl">INDICA TU NUEVA CONTRASEÑA</h1>

    <!-- NUEVA CONTRASEÑA -->
    <div class="form-field pb-6">
        <p-iconfield>
            <input pInputText type="password" placeholder="Nueva contraseña" formControlName="newPassword"
                class="input h-13 md:h-15"
                [ngClass]="{'ng-invalid': f.newPassword.invalid && (f.newPassword.dirty || f.newPassword.touched)}" />
            <p-inputicon class="pi pi-lock" style="color: black" />
        </p-iconfield>

        @if (f.newPassword.errors?.['required'] && f.newPassword.dirty && f.newPassword.value === '') {
        <p-message size="small" severity="error" variant="outlined" class="error">
            Este campo es obligatorio.
        </p-message>
        }
        @if (f.newPassword.hasError('passwordStrength')) {
        <p-message size="small" severity="error" variant="outlined" class="error">
            La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula, un número y un símbolo.
        </p-message>
        }
    </div>

    <!-- CONFIRMAR CONTRASEÑA -->
    <div class="form-field pb-6">
        <p-iconfield>
            <input pInputText type="password" placeholder="Repetir contraseña" formControlName="confirmPassword"
                class="input h-13 md:h-15"
                [ngClass]="{'ng-invalid': f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)}" />
            <p-inputicon class="pi pi-lock" style="color: black" />
        </p-iconfield>

        @if (f.newPassword.errors?.['required'] && f.newPassword.dirty && f.newPassword.value === '') {
        <p-message size="small" severity="error" variant="outlined" class="error">
            Este campo es obligatorio.
        </p-message>
        }
        @if (form.hasError('passwordsMismatch')) {
        <p-message size="small" severity="error" variant="outlined" class="error">
            Las contraseñas no coinciden.
        </p-message>
        }
    </div>

    <!-- BOTÓN -->
    <button pButton type="submit" class="btn h-13 md:h-15" size="large" [disabled]="form.invalid">
        Guardar nueva contraseña
    </button>
</form>